<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link type="text/css" href="css/bootstrap.css" th:href="@{css/bootstrap.css}" rel="stylesheet">
</head>

<body style="padding-bottom: 0">

<div th:insert="~{header :: nav}"></div>

<div class="container" style="padding-top:180px;padding-left:30%">
    <h1>Spring Security</h1>
    <p style="margin-top: 20px;">中文demo测试首页，登录用户从数据库获取</p>

</div>

</body>

</html>
